.cover {
  padding-left: 60px;
  padding-right: 60px;
}

.cover-msg {
  position: absolute;
  padding-left: 50px;
  margin-top: 100px;
}
.cover-msg h1 {
  font-size: 60px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    
  }
  .button :hover{
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
  .play {
    /* background-color: #4CAF50; Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    vertical-align: middle;
    /* padding: 5px 6px 5px 30px; */
    
  }
  .click{
    display: flex;
  }

  .click h3{
    
padding-left: 30px;
  }
  /* .play h5{
    padding: 0px;
    color: black;
  }  */
  .form-row1{
    display: flex;
  }
  .form-row2{
    display: flex;
  }
  .form{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
  }
  

  .box {
    /* width: 100%; */
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-left: 10px;
    margin-top: 8px;
    margin-right: 10px;
  }

  .form-row2 select{
    width: 259px;
  }
  .submt{
    
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      /* padding: 25px; */
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
      margin-left: 12px;
      margin-top: 10px;
      width: 190px;
      
    
  }
  .form h3{
    margin-left: 10px;
  }
  .dept{
    margin-top: 150px;
    margin-left: 100px;
  }
 
 
  .dept-row1{
    display: flex;
    margin-left: 75px;
  }
  .dept-row1 img{
    margin-left: 20px;
    width: 325px;
  }
  .dept-row2{
    display: flex;
    margin-left: 75px;
  }
  .dept2-text{
    margin-left: 30px;
  }
  .doctor-poster{
    display: flex;
    margin-top: 120px;
    background-color: #EAF2FF;
    width: 1000px;
    margin-left: 100px;
    border-radius: 5px;
  }
  .poster img{
    height: 400px;
    margin-left: 130px;
  }
  .txt{
    margin-top: 50px;
  }
  .txt img{
    height: 13px;
  }
  .txt p{
    font-size: 13px;
  }
  .doct{
    margin-top: 120px;
  }

  .specialist{
    display: flex;
    margin-left: 110px;
  }
  .specialist img{
    width: 225px;
    margin-left: 15px;
  }
  .doctor-name{
    display: flex;
    margin-left: 120px;
  }
  .doctor-name h4{
    margin-left: 60px;
  }
  #b{
    margin-left: 145px;
  }
  #c{
    margin-left: 140px;
  }
  #d{
    margin-left: 135px;
  }
  
  .view{
    background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      /* padding: 25px; */
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
      margin-left: 12px;
      margin-top: 10px;
      width: 110px;
      height: 30px;
  }
  .facilities h3{
    margin-top: 110px;
  }
  .rooms{
    display: flex;
    margin-left: 110px;
  }
  .rooms img{
    width: 300px;
    margin-left: 20px;
  }
  .bottom-text{
    margin-top: 110px;
  }
  .bottom-back{
    background-color: #EAF2FF;
  }
 